<!--// non_wrapper //-->
<div class="b2b84109_non_wrapper">
    <div class="b2b84109_content b2b84109_ph-16">
        <!--[if IE 6]><table class="b2b84109_fix b2b84109_c-100"><tr><td class="b2b84109_fix"><![endif]-->
       <?php if(empty($new['indexed']))echo "<noindex>";?>	
        <div class="b2b84109_h3 b2b84109_white b2b84109_bg-red" style="padding:6px;"><a href="javascript:history.back(1);" style="color: #FFFFFF;">Новости и аналитика</a> :: <?php echo $header;?></div>
        <div class=" b2b84109_gr-rn2">
            <div class="b2b84109_tl">
                <div class="b2b84109_tr">
                    <div class="b2b84109_br">
                        <div class="b2b84109_bl">
                            <dl class="b2b84109_pol2 b2b84109_n-u">
                                <dd><?php echo $new['text'];?></dd>
                                <dt><?php echo $new['registered'];?></dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php if(empty($new['indexed']))echo "</noindex>";?>  
        <!--[if IE 6]></td></tr></table><![endif]-->
    </div>
    <!--// end content //-->
</div>
<!--// non_wrapper //-->
